# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep

# Models and reports
models/*
reports/figures/*
!models/.gitkeep
!reports/figures/.gitkeep

# IDE / editors
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini

# Logs
*.log
