# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Data files
Credit Card Fraud/data/creditcard_balanced.csv
*.log